/* General Styling*/
body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: #06c;
}
img {
  max-width: 100%;
}
.white {
  color: #fff;
}
.black {
  color: #1d1d1f;
}
.grey {
  color: #86868b;
}
.top-50 {
  margin-top: 50px;
}
.top-100 {
  margin-top: 100px;
}
/* Header Style */
.nav-wrapper {
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.85em;
  font-weight: 200;
}
.nav-wrapper ul li a {
  color: #fff;
}
.navbar-toggler {
  color: #fff;
}
.nav-item {
  text-align: left !important;
  padding: 4px 0;
  border-bottom: 1px solid #4b4b4b;
}
/* my part style starts here */
/* mac book section */
.main-wrapper1 {
  background-color: #fafafa;
  text-align: center;
  padding-top: 25px;
}
/* iphone 11 pro section */
.main-wrapper2 {
  background-image: url("../images/home/iphone11-pro-bg.jpg");
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 65px 20px;
  text-align: center;
}
/* iphone 11 section */
.main-wrapper3 {
  background-image: url("../images/home/iphone11-bg.jpg");
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  padding: 65px 20px;
  text-align: center;
}
/* watch and card section */
.main-wrapper4 {
  background-image: url("../images/home/watch-series-5.jpg");
  height: 580px;
  width: 48.5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #231a1a;
  padding: 65px 20px;
  margin: 1% 0.5% 0 1%;
  padding-top: 54px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.main-wrapper5 {
  background-image: url("../images/home/apple-card.jpg");
  height: 580px;
  width: 48.5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #292222;
  padding: 65px 20px;
  margin: 1% 0.5% 0 1%;
  padding-top: 54px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
/* baby and airpod section */
.main-wrapper6 {
  background-image: url("../images/home/apple-tv-background.jpg");
  height: 580px;
  width: 48.5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 65px 20px;
  margin: 1% 0.5% 0 1%;
  padding-top: 54px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
/* after effect for the entire sections */
.mark-remover a::after {
  content: "\f144";
}
.mark-remover ul {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.main-wrapper7 {
  background-image: url("../images/home/air-pods.jpg");
  height: 580px;
  width: 48.5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 65px 20px;
  margin: 1% 0.5% 0 1%;
  padding-top: 54px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
/* Mac book and ipad section */
.main-wrapper8 {
  background-image: url("../images/home/mac-laptop.jpg");
  height: 650px;
  width: 48.5%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: initial;
  color: #241e1e;
  padding: 65px 20px;
  margin: 1% 0.5% 0 1%;
  padding-top: 30px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.main-wrapper9 {
  background-image: url("../images/home/new-ipad.jpg");
  height: 580px;
  width: 48.5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 65px 20px;
  margin: 1% 1% 0 0.5%;
  padding-top: 54px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.mark-remover li {
  display: block;
}

/* my part ends here */

/* Footer Styling */
.footer-wrapper {
  background-color: #f5f5f7;
  color: #86868b;
  font-size: 0.7em;
}
.footer-wrapper ul {
  list-style: none;
  padding-bottom: 10px;
  padding-inline-start: 0px;
}
.footer-wrapper ul a {
  color: #515154;
}
.my-apple-wrapper {
  padding-bottom: 15px;
  margin-top: 10px;
}
.copyright {
  margin-top: 15px;
}
.footer-country {
  margin-top: 8px;
}
.flag-wrapper {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}
.footer-country-name {
  display: inline-block;
  vertical-align: middle;
}
.footer-links-terms ul {
  display: flex;
}
.footer-links-terms ul li {
  padding: 0 10px;
  border-right: 1px solid #d2d2d7;
}
.footer-links-terms ul li:first-child {
  padding-left: 0;
}
.footer-links-terms ul li:last-child {
  border-right: 0;
}

.footer-links-wrapper h3 {
  font-size: 12px;
  font-weight: 600;
  color: #1d1d1f;
}
.footer-wrapper ul li {
  padding: 4px 0;
}
.upper-text-container {
  border-bottom: 1px solid #d2d2d7;
  padding: 17px 0 10px;
  margin-bottom: 20px;
}
.upper-text-container a {
  color: #515154;
}

/*Media Query*/
/* Footer */
@media (max-width: 768px) {
  .footer-links-wrapper ul {
    display: none;
  }
  .footer-links-wrapper h3 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .footer-links-wrapper h3:after {
    font-family: "FontAwesome";
    content: "\f067";
    padding-left: 10px;
    position: absolute;
    right: 25px;
  }
}
@media (min-width: 768px) {
  /*Nav bar*/
  .nav-item {
    text-align: center !important;
    padding: 0;
    border-bottom: 0px;
  }
  /*Footer styling*/
  .my-apple-wrapper {
    border-bottom: 1px solid #d2d2d7;
  }
}
@media (min-width: 992px) {
  /*Footer styling*/
  .copyright {
    margin-top: 10px;
  }
  .footer-country {
    margin-top: 10px;
  }
  .footer-links-terms {
    margin-top: 10px;
  }
}
